html{
    font-family: 'Poppins', sans-serif;
  }

  .nav-link{
    font-size: 1.1rem;
    font-weight: 700;
    color: black;
    padding: 0.5rem 0;
  }
  .nav-link:hover{
    background-color: #f4c430 ;
    border-radius: 5px;
  }
  
  
   /* Header */
  
  .header{
    background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.3)),url('../images/clem-onojeghuo-zlABb6Gke24-unsplash.jpg');
    min-height: 500px;
    background-size: cover;
    background-position:center;
  }

  /* Section About Us */

  .section-title{
    border-bottom: 8px double #f4c430 ;
    border-left: 5px double #f4c430;
    border-right: 5px double #f4c430;
    display: inline-block;
    padding: 1rem;
    border-radius: 10px;
  }

  .img-border{
    
    border-radius: 10%;

  }


  /* Section Cafe */

.bg-gold{
  background-color: #f4c430;
}

.section-title2{
  border-bottom: 8px double #cf1020 ;
  border-left: 5px double #cf1020;
  border-right: 5px double #cf1020;
  display: inline-block;
  padding: 1rem;
  border-radius: 10px;
}

.btn-menu{
  font-size: 1.3rem;
  font-weight: 700;
  background-color: #cf1020;
  border: 0;
}

/* Section Services */

.service-box{
  border: 5px solid #cf1020;
  padding: 1rem;
  border-radius: 10px;
  font-weight: 600;
}

.service-box h4{
  color: #cf1020;
}

.service-box:hover{
  background-color: #f4c430;
  transition: all .3s linear;
}

/* Booking Section  */

.red-color{
  color: #cf1020;
}

.btn-book{
  font-size: 1.4rem;
  font-weight: 700;
  background-color: #cf1020;
  border: 0;
}

.border-contact{
  border: 5px solid #cf1020;
  border-radius: 10px;
  padding-bottom: 2rem;
}

/* Footer */

.footer-link{
  text-decoration: none;
  color: black;
  list-style-type: none;
  padding: 1rem;
  font-weight: 700;
}

.footer-link:hover{
  background-color: #f4c430 ;
  border-radius: 5px;
  text-decoration: none;
  color: black;
}


/* Booking Page */

.booking-header{
  background:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.3)), url('../images/clem-onojeghuo-zlABb6Gke24-unsplash.jpg');
  background-attachment: fixed;
  background-position: bottom;
}

/* Cafe and Menu Page */

.menu-head{
  border-radius: 20px;
  border: 3px solid #cf1020;
  padding: 1rem;
  display: inline-block;
}

.menu-image{
  border-radius: 20px;
  width: 300px;
  height: 300px
}

/* Accessiblity Page */

.access-head{
  border-radius: 20px;
  border: 3px solid #cf1020;
  padding: 1rem;
  display: inline-block;
}

/* 
Topical Page */

.topic-image{
  width: 350px;
  border-radius: 10px;
}

.topic-image:hover{
  opacity: 0.5;
  transition: .5s ease;
}

.topic-hr{
  border-bottom: 5px double #f4c430;
}

.topic-text{
  font-size: 1rem;
  font-weight: 500;
}

.topic-link{
  color: #cf1020;
  font-weight: 700;
}